<div mdl-upgrade 
     ng-controller="HomeController as hc" 
     class="home mdl-tabs mdl-js-tabs mdl-js-ripple-effect" 
     ng-swipe-left="hc.swipeLeftTab()"
     ng-swipe-right="hc.swipeRightTab()">

    <div class="mdl-tabs__tab-bar" id="home-tabs">
        <a href="#o-tesli" class="mdl-tabs__tab is-active">{{ hc.ui[culture].TAB_ABOUT }}</a>
        <a href="#pokusi" class="mdl-tabs__tab">{{ hc.ui[culture].TAB_EXP }}</a>
        <a href="#nacrti" class="mdl-tabs__tab">{{ hc.ui[culture].TAB_BP }}</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="o-tesli">

        <div class="about-tesla-container">
            <div class="about-tesla-heading-container"
                 ng-style="{'background-image': 'url(' + hc.aboutTesla.imageUrl + ')', 'background-size': 'cover'}">

                <h2 class="heading">
                    {{hc.aboutTesla.name}}
                </h2>
                <!--<button class="watch-video mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                        ng-click="ed.gotoVideo()">
                    <i class="material-icons">videocam</i>
                </button>-->
            </div>
            <div class="about-tesla-description-container">

                <div class="about-tesla-anchors">
                    <div class="summary">{{hc.aboutTesla.ui.summary[culture]}}</div>
                    <ul class="anchor-list">
                        <li class="anchor" ng-repeat="desc in hc.aboutTesla.description[culture]">
                            <a class="link" ng-click="hc.jumpTo(desc.id)">
                                {{desc.title}}
                            </a>
                        </li>
                    </ul>
                </div>

                <br />

                <div ng-repeat="desc in hc.aboutTesla.description[culture]"
                     class="description">


                    <h5 id="anchor{{desc.id}}" class="title">{{desc.title}}</h5>

                    <div ng-repeat="art in desc.articles">
                        <p>{{art}}</p>
                    </div>


                </div>

            </div>
        </div>

    </div>

    <div class="mdl-tabs__panel" id="pokusi">
        <div class="experiments-container">

            <experiment-card ng-repeat="e in hc.experiments"
                             class="experiment"
                             ex-id="{{e.id}}"
                             ex-name="{{e.name[culture]}}"
                             ex-image-url="{{e.imageUrl}}"
                             ng-cloak
                             ng-click="hc.changeUrl('/experiments/details/' + e.id)">
            </experiment-card>

        </div>
    </div>

    <div class="mdl-tabs__panel" id="nacrti">

        <div class="blueprints-list-container">


            <blueprint-card ng-repeat="bp in hc.blueprints"
                            class="blueprint"
                            bp-id="{{bp.id}}"
                            bp-name="{{bp.name[culture]}}"
                            bp-image-url="{{bp.imageUrl}}"
                            ng-cloak
                            ng-click="hc.changeUrl('/blueprints/details/' + bp.id)">
            </blueprint-card>


        </div>

    </div>
</div>