.mdl-tabs__tab-bar {
    background-color: #3F51B5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    will-change: auto;
}

.home {
    background-color: white;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: rgba(255, 255, 255, .87);
}

.mdl-tabs__tab {
    color: rgba(255, 255, 255, .87);
}

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple {
    background: rgb(247, 247, 247);
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: rgb(234, 234, 234);
}

.sticky-down {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -moz-transform: translateY(53px);
    -ms-transform: translateY(53px);
    -o-transform: translateY(53px);
    -webkit-transform: translateY(53px);
    transform: translateY(53px);
    -moz-transition: all 350ms linear;
    -o-transition: all 350ms linear;
    -webkit-transition: all 350ms linear;
    transition: all 350ms linear;
}

.sticky-up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -moz-transform: translateY(-56px);
    -ms-transform: translateY(-56px);
    -o-transform: translateY(-56px);
    -webkit-transform: translateY(-56px);
    transform: translateY(-56px);
    -moz-transition: transform 350ms linear;
    -o-transition: transform 350ms linear;
    -webkit-transition: transform 350ms linear;
    transition: transform 350ms linear;
}


/*#region Experiments*/

.sticky-down .experiments-container .experiment:first-child {
    margin-top: 58px;
}

.sticky-up .experiments-container .experiment:first-child {
    margin-top: 10px;
}

.experiments-container .experiment:first-child {
    margin-top: 58px;
}

.experiments-container {
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.experiments-container .experiment .mdl-card {
    margin-bottom: 10px;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 40;
}

.experiments-container .experiment .mdl-card__actions {
    background-color: rgba(0, 0, 0, 0.65);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.experiments-container .mdl-card a.mdl-button {
    text-align: left !important;
}

.experiments-container .experiment .mdl-card__actions .mdl-button,
.experiments-container .experiment .mdl-card__actions .material-icons {
    color: inherit;
}

#home-tabs a.mdl-tabs__tab {
    text-align: center !important;
}


/*#endregion Experiments*/


/*#region AboutTesla*/

.about-tesla-container {
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.about-tesla-container .about-tesla-anchors {
    border-left: 3px solid #808080;
    padding-left: 20px;
}

.about-tesla-container .about-tesla-anchors .summary {
    font-size: 1.2em;
    font-weight: 100;
}

.about-tesla-container .about-tesla-anchors .anchor-list {
    list-style: none;
    padding: 0;
}

.about-tesla-container .about-tesla-anchors .anchor-list .anchor {
    line-height: 30px;
}

.about-tesla-container .about-tesla-anchors .anchor-list .anchor:last-child {
    line-height: normal;
    padding-top: 5px;
}

.about-tesla-container .about-tesla-anchors .anchor-list .link {
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    font-size: 1.3em;
    font-weight: 400;
}

.about-tesla-container .about-tesla-heading-container {
    align-items: center;
    display: flex;
    min-height: 22em;
    padding: 16px;
    margin-bottom: 28px;
    background-repeat: no-repeat;
    background-position: 0 -51px;
    width: 100%;
    z-index: 50;
}

.about-tesla-container .about-tesla-heading-container .heading {
    color: white;
    align-self: flex-end;
    display: flex;
    font-weight: 300;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: normal;
    width: 70%;
    margin: 0;
    padding: 0 16px;
}

.about-tesla-container .about-tesla-description-container {
    color: rgba(0, 0, 0, .7);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
    z-index: 51;
}

.about-tesla-container .about-tesla-description-container .description .title {
    text-transform: uppercase;
}


/*#endregion AboutTesla*/


/*#region Blueprints*/

.sticky-down .blueprints-list-container .blueprint:first-child {
    margin-top: 58px;
}

.sticky-up .blueprints-list-container .blueprint:first-child {
    margin-top: 10px;
}

.blueprints-list-container .blueprint:first-child {
    margin-top: 58px;
}

.blueprints-list-container {
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.blueprints-list-container .blueprint .mdl-card {
    margin-bottom: 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #3F51B5;
    z-index: 40;
}

.blueprints-list-container .blueprint .mdl-card__actions {
    background-color: rgba(55, 72, 158, .6);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blueprints-list-container .blueprint .mdl-card__actions .mdl-button {
    color: white;
}


/*#endregion Blueprints*/


/*#region Animations*/

.is-active .blueprint,
.is-active .experiment {
    -moz-animation: fadeIn 200ms both linear;
    -o-animation: fadeIn 200ms both linear;
    -webkit-animation: fadeIn 200ms both linear;
    animation: fadeIn 200ms both linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*#endregion Animations*/

@media only screen and (min-width: 500px) {
    .about-tesla-container .about-tesla-heading-container {
        min-height: 43em;
    }
}

@media only screen and (min-width: 1000px) {
    .about-tesla-container .about-tesla-heading-container {
        max-width: 43em;
    }
}