/*.experiment-details-container {
}

    .experiment-details-container .mdl-card {
        margin: auto;
        min-height: 255px;
    }

        .experiment-details-container .mdl-card .mdl-card__title {
            min-height: 200px;
        }

            .experiment-details-container .mdl-card .mdl-card__title .mdl-card__title-text {
                color: white;
            }

        .experiment-details-container .mdl-card .mdl-card__supporting-text div video {
            width: 100% !important;
            height: auto !important;
        }*/

.experiment-details-container {
    display: flex;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-size: 16px;
    font-weight: 400;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
}

    .experiment-details-container .experiment-details-heading-container {
        align-items: center;
        display: flex;
        min-height: 200px;
        padding: 16px;
        margin-bottom: 28px;
        position: relative;
    }

        .experiment-details-container .experiment-details-heading-container .watch-video {
            position: absolute;
            bottom: -28px;
            right: 10%;
        }


        .experiment-details-container .experiment-details-heading-container .heading {
            color: white;
            align-self: flex-end;
            display: flex;
            font-size: 24px;
            font-weight: 300;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            line-height: normal;
            width: 70%;
            margin: 0;
        }

    .experiment-details-container .experiment-details-description-container {
        color: rgba(0,0,0, .7);
        font-size: 1rem;
        line-height: 18px;
        overflow: hidden;
        padding: 16px;
        width: 90%;
    }

        .experiment-details-container .experiment-details-description-container .video video {
            width: 100% !important;
        }


/*.watch-video {
    z-index: 10;
}

.video-ripple {
    position: absolute;
    bottom: -28px;
    right: 10%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    padding: 0;
    z-index: 0;
    -moz-transition: transform 400ms linear;
    -o-transition: transform 400ms linear;
    -webkit-transition: transform 400ms linear;
    transition: transform 400ms linear;
}

    .video-ripple.in {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        -moz-transform: scale(100);
        -ms-transform: scale(100); 
        -o-transform: scale(100);
        -webkit-transform: scale(100);
        transform: scale(100);
        z-index: 100;
    }*/
